<?xml version="1.0"?>
<config>
    <modules>
        <Aramex_Core>
            <version>0.6.0</version>
        </Aramex_Core>
    </modules>
    <global>        
        <helpers>
            <aramex_core>
                <class>Aramex_Core_Helper</class>
            </aramex_core>
        </helpers>
		<template>
            <email>
				<aramexsettings_template_shipment_template translate="label" module="sales">
                    <label>Aramex Shipment</label>
                    <file>aramex/shipment_email.html</file>
                    <type>html</type>
                </aramexsettings_template_shipment_template>
			</email>
		</template>
     </global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<aramexsettings module="aramex_core">
											<title>aramex</title>
										</aramexsettings>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<aramexsettings>
				<config>
					<allowed_domestic_methods>OND,ONP,CDA</allowed_domestic_methods>
					<allowed_international_methods>IBD,PDX,PLX</allowed_international_methods>
					<report_id>9729</report_id>
					<sandbox_flag>0</sandbox_flag>
				</config>
				<template>					
					<shipment_template>aramexsettings_template_shipment_template</shipment_template>	
					<copy_method>bcc</copy_method>
				</template>
		</aramexsettings>
		
	</default>
</config>