<?xml version="1.0"?>
<config>
  <modules>
    <Pesapal_Pesapalexpress>
      <version>0.1.0</version>
    </Pesapal_Pesapalexpress>
  </modules>
  <global>
    <models>
      <pesapalexpress>
        <class>Pesapal_Pesapalexpress_Model</class>
		<resourceModel>pesapalexpress_mysql4</resourceModel>
      </pesapalexpress>
	  <pesapalexpress_mysql4>
		  <class>Mage_Pesapalexpress_Model_Mysql4</class>
		  <entities>
			  <pesapal_order_tracker>
				  <table>pesapalexpress_pesapal_order_tracker</table>
			  </pesapal_order_tracker>
	      </entities>
	  </pesapalexpress_mysql4>
    </models>
    <helpers>
      <pesapalexpress>
        <class>Pesapal_Pesapalexpress_Helper</class>
      </pesapalexpress>
    </helpers>
    <blocks>
      <pesapalexpress>
        <class>Pesapal_Pesapalexpress_Block</class>
      </pesapalexpress>
    </blocks>
  </global>
  <default>
    <payment>
      <pesapalexpress>
        <model>pesapalexpress/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Pesapal</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </pesapalexpress>
    </payment>
  </default>
  <frontend>
    <routers>
      <pesapalexpress>
        <use>standard</use>
        <args>
          <module>Pesapal_Pesapalexpress</module>
          <frontName>pesapalexpress</frontName>
        </args>
      </pesapalexpress>
    </routers>
  </frontend>
</config>
