<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Pickuptime>
            <version>1.0.6</version>
        </Cminds_Pickuptime>
    </modules>
    <global>
        <blocks>
            <cminds_pickuptime>
                <class>Cminds_Pickuptime_Block</class>
            </cminds_pickuptime>
        </blocks>
        <models>
            <cminds_pickuptime>
                <class>Cminds_Pickuptime_Model</class>
                <resourceModel>cminds_pickuptime_mysql4</resourceModel>
            </cminds_pickuptime>
            <cminds_pickuptime_mysql4>
                <class>Cminds_Pickuptime_Model_Mysql4</class>
                <entities>
                    <vendor_pickup_time>
                        <table>marketplace_vendor_pickup_time</table>
                    </vendor_pickup_time>
                    <vendor_pickup_time_excluded_days>
                        <table>marketplace_vendor_pickup_time_excluded_days</table>
                    </vendor_pickup_time_excluded_days>
                </entities>
            </cminds_pickuptime_mysql4>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Cminds_Pickuptime_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
                <rewrite>
                    <order_pdf_items_invoice_default>Cminds_Pickuptime_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <cminds_pickuptime>
                <class>Cminds_Pickuptime_Helper</class>
            </cminds_pickuptime>
        </helpers>
        <resources>
            <cminds_pickuptime>
                <setup>
                    <module>Cminds_Pickuptime</module>
                    <class>Cminds_Pickuptime_Model_Mysql4_Setup</class>
                </setup>
            </cminds_pickuptime>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <pickuptime_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>Cminds_Pickuptime_Model_Observer</class>
                        <method>onItemAddedToCart</method>
                    </pickuptime_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <pickuptime_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>Cminds_Pickuptime_Model_Observer</class>
                        <method>onItemBeforeAddToCart</method>
                    </pickuptime_checkout_cart_product_add_after>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <pickuptime_sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>Cminds_Pickuptime_Model_Observer</class>
                        <method>onConvertQuoteItemToOrderItem</method>
                    </pickuptime_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <pickuptime_nav_load>
                        <type>singleton</type>
                        <class>Cminds_Pickuptime_Model_Observer</class>
                        <method>navLoad</method>
                    </pickuptime_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_pickuptime>
                    <files>
                        <default>Cminds_Pickuptime.csv</default>
                    </files>
                </cminds_pickuptime>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <pickup_time_add_time_options>
                        <type>model</type>
                        <class>Cminds_Pickuptime_Model_Observer</class>
                        <method>onProductSaveAfter</method>
                    </pickup_time_add_time_options>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <cminds_pickuptime>
                    <file>cminds_pickuptime.xml</file>
                </cminds_pickuptime>
            </updates>
        </layout>
        <routers>
            <cminds_pickuptime>
                <use>standard</use>
                <args>
                    <module>Cminds_Pickuptime</module>
                    <frontName>pickuptime</frontName>
                </args>
            </cminds_pickuptime>
            <cminds_supplierfrontendproductuploader>
                <args>
                    <modules>
                        <cminds_pickuptime before="Cminds_Supplierfrontendproductuploader">Cminds_Pickuptime</cminds_pickuptime>
                    </modules>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
    </frontend>
</config>