<?xml version="1.0"?>
<config>
    <modules>
        <Zozoconcepts_Dailydeal>
            <version>0.1.2</version>
        </Zozoconcepts_Dailydeal>
    </modules>
    <frontend>
        <routers>
            <dailydeal>
                <use>standard</use>
                <args>
                    <module>Zozoconcepts_Dailydeal</module>
                    <frontName>dailydeal</frontName>
                </args>
            </dailydeal>
        </routers>
        <layout>
            <updates>
                <dailydeal>
                    <file>dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
        <!--<translate>
            <modules>
                <Zozoconcepts_Dailydeal>
                    <files>
                        <default>Zozoconcepts_Dailydeal.csv</default>
                    </files>
                </Zozoconcepts_Dailydeal>
            </modules>
        </translate>-->
    </frontend>
    <admin>
        <routers>
            <dailydealadmin>
                <use>admin</use>
                <args>
                    <module>Zozoconcepts_Dailydeal</module>
                    <frontName>dailydealadmin</frontName>
                </args>
            </dailydealadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dailydeal>
                    <file>dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
        <!--<translate>
            <modules>
                <Zozoconcepts_Dailydeal>
                    <files>
                        <default>Zozoconcepts_Dailydeal.csv</default>
                    </files>
                </Zozoconcepts_Dailydeal>
            </modules>
        </translate>-->
    </adminhtml>
    <global>
        <models>
            <dailydeal>
                <class>Zozoconcepts_Dailydeal_Model</class>
                <resourceModel>dailydeal_mysql4</resourceModel>
            </dailydeal>
            <dailydeal_mysql4>
                <class>Zozoconcepts_Dailydeal_Model_Mysql4</class>
                <entities>
                    <dailydeal>
                        <table>zozoconcepts_dailydeal</table>
                    </dailydeal>
                </entities>
            </dailydeal_mysql4>
        </models>
        <resources>
            <zozoconcepts_dailydeal_setup>
                <setup>
                    <module>Zozoconcepts_Dailydeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zozoconcepts_dailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <blocks>
            <dailydeal>
                <class>Zozoconcepts_Dailydeal_Block</class>
            </dailydeal>
        </blocks>
        <helpers>
            <dailydeal>
                <class>Zozoconcepts_Dailydeal_Helper</class>
            </dailydeal>
        </helpers>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>collectionLoadAfter</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </catalog_product_collection_load_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>quoteSubmitBefore</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </sales_model_service_quote_submit_before>

            <catalog_product_get_final_price>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>getFinalPrice</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </catalog_product_get_final_price>
            <checkout_cart_save_after>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>checkOutSaveAfter</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </checkout_cart_save_after>

            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>checkoutCartAddProduct</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_order_creditmemo_refund>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>refundCreditmemo</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </sales_order_creditmemo_refund>
            <order_cancel_after>
                <observers>
                    <Zozoconcepts_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Zozoconcepts_Dailydeal_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </Zozoconcepts_Dailydeal_Model_Observer>
                </observers>
            </order_cancel_after>
        </events>
    </global>

    <default>
        <dailydeal>
            <general>
                <limit>0</limit>
            </general>
            <sidebar>
                <number_deal>1</number_deal>
            </sidebar>
        </dailydeal>
    </default>
</config>