<?xml version="1.0"?>
<config>
    <modules>
        <Zozoconcepts_Featuredproductslider>
            <version>1.7.0.0</version>
        </Zozoconcepts_Featuredproductslider>
    </modules>
    <frontend>
        <routers>
            <zozoconcepts_featuredproductslider>
                <use>standard</use>
                <args>
                    <module>Zozoconcepts_Featuredproductslider</module>
                    <frontName>featuredproductslider</frontName>
                </args>
            </zozoconcepts_featuredproductslider>
        </routers>
        <layout>
            <updates>
                <zozoconcepts_featuredproductslider>
                    <file>featuredproductslider.xml</file>
                </zozoconcepts_featuredproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<zozoconcepts_featuredproductslider>
				<use>admin</use>
				<args>
					<module>Zozoconcepts_Featuredproductslider</module>
					<frontName>featuredproductslider</frontName>
				</args>
			</zozoconcepts_featuredproductslider>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<zozoconcepts_featuredproductslider>
					<file>featuredproductslider.xml</file>
				</zozoconcepts_featuredproductslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <zozoconcepts_featuredproductslider>
                <class>Zozoconcepts_Featuredproductslider_Model</class>
                <resourceModel>featuredproductslider_mysql4</resourceModel>
            </zozoconcepts_featuredproductslider>
            <zozoconcepts_featuredproductslider_mysql4>
                <class>Zozoconcepts_Featuredproductslider_Model_Mysql4</class>
                <entities>
                    <featuredproductslider>
                        <table>featuredproductslider</table>
                    </featuredproductslider>
                </entities>
            </zozoconcepts_featuredproductslider_mysql4>
        </models>
        <resources>
            <zozoconcepts_featuredproductslider_setup>
                <setup>
                    <module>Zozoconcepts_Featuredproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zozoconcepts_featuredproductslider_setup>
            <zozoconcepts_featuredproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zozoconcepts_featuredproductslider_write>
            <zozoconcepts_featuredproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zozoconcepts_featuredproductslider_read>
        </resources>
        <blocks>
            <zozoconcepts_featuredproductslider>
                <class>Zozoconcepts_Featuredproductslider_Block</class>
            </zozoconcepts_featuredproductslider>
        </blocks>
        <helpers>
            <zozoconcepts_featuredproductslider>
                <class>Zozoconcepts_Featuredproductslider_Helper</class>
            </zozoconcepts_featuredproductslider>
        </helpers>
    </global>
	<default>
		<hybrid>
			<beforefooter>
				<enable_featuredproducts>1</enable_featuredproducts>
				<title>Featured Products</title>
				<speed>1000</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<review>1</review>
				<description>1</description>
				<maxlength>15</maxlength>
				<maxproducts>20</maxproducts>
				<width_thumbnail>200</width_thumbnail>
				<height_thumbnail>200</height_thumbnail>
				<nav_ctrl>0</nav_ctrl>
				
				<enable_newproducts>1</enable_newproducts>
				<newtitle>New Arrivals</newtitle>
				<newspeed>1000</newspeed>
				<newshow_price>1</newshow_price>
				<newaddtocart>1</newaddtocart>
				<newreview>1</newreview>
				<newdescription>1</newdescription>
				<maxlength>15</maxlength>
				<newmaxproducts>20</newmaxproducts>
				<newwidth_thumbnail>200</newwidth_thumbnail>
				<newheight_thumbnail>200</newheight_thumbnail>
				<newnav_ctrl>0</newnav_ctrl>
			</beforefooter>
		</hybrid>
	</default>
</config>