<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Rma>
            <version>1.0.3</version>
        </Cminds_Rma>
    </modules>
    <global>
        <blocks>
            <cminds_rma>
                <class>Cminds_Rma_Block</class>
            </cminds_rma>
        </blocks>
        <models>
            <cminds_rma>
                <class>Cminds_Rma_Model</class>
                <resourceModel>cminds_rma_mysql4</resourceModel>
            </cminds_rma>
            <cminds_rma_mysql4>
                <class>Cminds_Rma_Model_Mysql4</class>
                <entities>
                    <rma_entity>
                        <table>marketplace_flat_rma</table>
                    </rma_entity>
                    <rma_item>
                        <table>marketplace_flat_rma_item</table>
                    </rma_item>
                    <rma_status>
                        <table>marketplace_flat_rma_status</table>
                    </rma_status>
                    <rma_type>
                        <table>marketplace_flat_rma_type</table>
                    </rma_type>
                    <rma_reason>
                        <table>marketplace_flat_rma_reason</table>
                    </rma_reason>
                    <rma_comment>
                        <table>marketplace_flat_rma_comment</table>
                    </rma_comment>
                </entities>
            </cminds_rma_mysql4>
        </models>
        <helpers>
            <cminds_rma>
                <class>Cminds_Rma_Helper</class>
            </cminds_rma>
        </helpers>
        <resources>
            <cminds_rma>
                <setup>
                    <module>Cminds_Rma</module>
                    <class>Cminds_Rma_Model_Mysql4_Setup</class>
                </setup>
            </cminds_rma>
        </resources>
        <template>
            <email>
                <rma_update module="cminds_rma">
                    <label>RMA - Notify customer when request was updated by admin</label>
                    <file>rma/rma_update.html</file>
                    <type>html</type>
                </rma_update>
                <rma_created module="cminds_rma">
                    <label>RMA - Notify customer when request was created successfully</label>
                    <file>rma/rma_new.html</file>
                    <type>html</type>
                </rma_created>
                <rma_created_admin module="cminds_rma">
                    <label>RMA - Notify admin when request was created</label>
                    <file>rma/rma_admin.html</file>
                    <type>html</type>
                </rma_created_admin>
            </email>
        </template>
        <events>
            <rma_success_credit_memo>
                <observers>
                    <cminds_rma_success_credit_memo>
                        <type>singleton</type>
                        <class>cminds_rma/observer</class>
                        <method>updateQtyAfterCreditMemo</method>
                    </cminds_rma_success_credit_memo>
                </observers>
            </rma_success_credit_memo>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cminds_rma>
                    <file>cminds/rma.xml</file>
                </cminds_rma>
            </updates>
        </layout>
        <routers>
            <Cminds_Rma>
                <use>standard</use>
                <args>
                    <module>Cminds_Rma</module>
                    <frontName>cminds_rma</frontName>
                </args>
            </Cminds_Rma>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cminds_rma>
                    <file>cminds/rma.xml</file>
                </cminds_rma>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cminds_Rma before="Mage_Adminhtml">Cminds_Rma_Adminhtml</Cminds_Rma>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cminds_rma>
            <email>
                <identity>general</identity>
                <copy_method>bcc</copy_method>
            </email>
        </cminds_rma>
    </default>
</config>
