<!--@subject Alladin Payment Status@-->

<h1 style="text-align:center;">
    <img src="{{var logoSource}}" alt="Alladin" class="large" />
</h1>

<h2>Hello, {{var custFirstName}}</h2>
<h3>{{var orderStatus}}</h3>
<h4>Your payment amounting to <optcba>{{var latestAmount}}</optcba> has been received for order <optcba>{{var orderIncrementId}}</optcba>.</h4>
<h5>Order Grand Total : <optcba>{{var grandTotal}}</optcba></h5>
<h5>Order Total Paid : <optcba>{{var orderTotalPaid}}</optcba></h5>
<h5>Order Remaining Amount : <optcba>{{var orderRemainder}}</optcba></h5>

<h5>Kindly log in to your Alladin account to view your payment logs,at <a href="www.alladin.co.ke/customer/account/login">alladin</a></h5>
