<?xml version="1.0"?>
<config>
  <modules>
    <Mss_Bannersliderapp>
      <version>0.1.2</version>
    </Mss_Bannersliderapp>
  </modules>
 
  <frontend>
        <routers>
            <bannersliderapp>
                <use>standard</use>
                <args>
                    <module>Mss_Bannersliderapp</module>
                    <frontName>bannersliderapp</frontName>
                </args>
            </bannersliderapp>
        </routers>
  </frontend>
 
  <global>
    <helpers>
      <bannersliderapp>
        <class>Mss_Bannersliderapp_Helper</class>
      </bannersliderapp>

    </helpers>
    <blocks>
      <bannersliderapp>
        <class>Mss_Bannersliderapp_Block</class>
      </bannersliderapp>
    </blocks>
	<models>
	  <bannersliderapp>
		  <class>Mss_Bannersliderapp_Model</class>
		  <resourceModel>bannersliderapp_mysql4</resourceModel>
	  </bannersliderapp>
	  <bannersliderapp_mysql4>
		  <class>Mss_Bannersliderapp_Model_Mysql4</class>
  		<entities>		  
  			  <bannersliderapp>
  				  <table>magentomobile_bannersliderapp</table>
  			  </bannersliderapp>
      </entities>
	  </bannersliderapp_mysql4>
	</models>
	<resources>
	  <bannersliderapp_setup>
		<setup>
		  <module>Mss_Bannersliderapp</module>
		</setup>
  		<connection>
  		  <use>core_setup</use>
  		</connection>
	  </bannersliderapp_setup>
	  <bannersliderapp_write>
  		<connection>
  		  <use>core_write</use>
  		</connection>
	  </bannersliderapp_write>
	  <bannersliderapp_read>
  		<connection>
  		  <use>core_read</use>
  		</connection>
	  </bannersliderapp_read>
	</resources>
  
  </global>
  <admin>
    <routers>
      <bannersliderapp>
        <use>admin</use>
        <args>
          <module>Mss_Bannersliderapp</module>
          <frontName>banner_bannersliderapp</frontName>
        </args>
      </bannersliderapp>
    </routers>
  </admin>
    <adminhtml>
     <layout>
          <updates>
            <bannersliderapp>
              <file>bannersliderapp.xml</file>
            </bannersliderapp>
          </updates>
      </layout>
    </adminhtml>
</config> 
