<?xml version="1.0"?>
<config>
  <modules>
    <Mss_Mdirect>
      <version>0.1.0</version>
    </Mss_Mdirect>
  </modules>
  <frontend>
    <routers>
      <mdirect>
        <use>standard</use>
          <args>
            <module>Mss_Mdirect</module>
            <frontName>mdirect</frontName>
          </args>
      </mdirect>
    </routers>
  </frontend>
  <global>
    <helpers>
      <mdirect>
        <class>Mss_Mdirect_Helper</class>
      </mdirect>
    </helpers>
  </global>
</config>
