<?xml version="1.0"?>
<config>
    <modules>
        <Cminds_SupplierTrading>
            <version>1.0.7</version>
        </Cminds_SupplierTrading>
    </modules>
    <global>
        <models>
            <suppliertrading>
                <class>Cminds_SupplierTrading_Model</class>
                <resourceModel>suppliertranding_resource</resourceModel>
            </suppliertrading>
            <suppliertranding_resource>
                <class>Cminds_SupplierTrading_Model_Resource</class>
                <entities>
                    <trades>
                        <table>suppliertrading_trades</table>
                    </trades>
                </entities>
            </suppliertranding_resource>
        </models>
        <helpers>
            <suppliertrading>
                <class>Cminds_SupplierTrading_Helper</class>
            </suppliertrading>
        </helpers>
        <blocks>
            <suppliertrading>
                <class>Cminds_SupplierTrading_Block</class>
            </suppliertrading>
        </blocks>
        <resources>
            <suppliertrading>
                <setup>
                    <module>Cminds_SupplierTrading</module>
                    <class>Cminds_Supplierfrontendproductuploader_Model_Mysql4_Setup</class>
                </setup>
            </suppliertrading>
        </resources>
        <events>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <suppliertrading_nav_load>
                        <type>singleton</type>
                        <class>Cminds_SupplierTrading_Model_Observer</class>
                        <method>navLoad</method>
                    </suppliertrading_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
        <template>
            <email>
                <price_trade_sent module="suppliertrading">
                    <label>Email to supplier if trade was sent.</label>
                    <file>price_trade_sent.html</file>
                    <type>html</type>
                </price_trade_sent>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_suppliertrading>
                    <files>
                        <default>Cminds_SupplierTrading.csv</default>
                    </files>
                </cminds_suppliertrading>
            </modules>
        </translate>
        <routers>
            <cminds_suppliertrading>
                <use>standard</use>
                <args>
                    <module>Cminds_SupplierTrading</module>
                    <frontName>suppliertrading</frontName>
                </args>
            </cminds_suppliertrading>
        </routers>
        <layout>
            <updates>
                <cminds_suppliertrading>
                    <file>cminds/suppliertrading.xml</file>
                </cminds_suppliertrading>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <cminds_suppliertrading_block_html_before>
                        <type>singleton</type>
                        <class>Cminds_SupplierTrading_Model_Observer</class>
                        <method>blockToHtmlBefore</method>
                    </cminds_suppliertrading_block_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_suppliertrading before="Mage_Adminhtml">Cminds_SupplierTrading_Adminhtml</cminds_suppliertrading>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <cminds_suppliertrading>
                    <files>
                        <default>Cminds_SupplierTrading.csv</default>
                    </files>
                </cminds_suppliertrading>
            </modules>
        </translate>
        <layout>
            <updates>
                <cminds_suppliertrading>
                    <file>cminds_suppliertrading.xml</file>
                </cminds_suppliertrading>
            </updates>
        </layout>
    </adminhtml>
</config>