<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_SupplierRedirection>
            <version>1.0.2</version>
        </Cminds_SupplierRedirection>
    </modules>
    <global>
        <models>
            <cminds_supplierredirection>
                <class>Cminds_SupplierRedirection_Model</class>
                <resourceModel>cminds_supplierredirection_mysql4</resourceModel>
            </cminds_supplierredirection>
            <cminds_supplierredirection_mysql4>
                <class>Cminds_SupplierRedirection_Model_Mysql4</class>
            </cminds_supplierredirection_mysql4>
            <catalog>
                <rewrite>
                    <product>Cminds_SupplierRedirection_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <cminds_supplierredirection>
                <class>Cminds_SupplierRedirection_Block</class>
            </cminds_supplierredirection>
        </blocks>
        <resources>
            <cminds_supplierredirection>
                <setup>
                    <module>Cminds_SupplierRedirection</module>
                    <class>Cminds_SupplierRedirection_Model_Mysql4_Setup</class>
                </setup>
            </cminds_supplierredirection>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cminds_supplierredirection>
                    <file>cminds/supplierredirection.xml</file>
                </cminds_supplierredirection>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <urlrewrite_customer_save_after>
                        <class>cminds_supplierredirection/adminhtml_observer</class>
                        <method>onCustomerSave</method>
                    </urlrewrite_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cminds_supplierredirection>
                    <file>cminds/supplierredirection.xml</file>
                </cminds_supplierredirection>
            </updates>
        </layout>
        <routers>
            <cminds_supplierfrontendproductuploader>
                <args>
                    <modules>
                        <Cminds_SupplierRedirection before="Cminds_Supplierfrontendproductuploader">Cminds_SupplierRedirection</Cminds_SupplierRedirection>
                    </modules>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
        <events>
            <controller_action_predispatch_cms_index_index>
                <observers>
                    <cm_supplier_redirection_controller_action_predispatch>
                        <type>singleton</type>
                        <class>cminds_supplierredirection/observer</class>
                        <method>controllerActionPredispatch</method>
                    </cm_supplier_redirection_controller_action_predispatch>
                </observers>
            </controller_action_predispatch_cms_index_index>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <htaccess_restriction_nav_link>
                        <type>singleton</type>
                        <class>cminds_supplierredirection/observer</class>
                        <method>navLoad</method>
                    </htaccess_restriction_nav_link>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
    </frontend>
</config>