<?xml version="1.0"?>
<config>
    <modules>
        <Zozoconcepts_Ajaxcart>
            <version>1.0.1</version>
        </Zozoconcepts_Ajaxcart>
    </modules>
    <frontend>
        <layout>
            <updates>
                <zozoconcepts_ajaxcart module="zozoconcepts_ajaxcart">
                    <file>ajaxcart.xml</file>
                </zozoconcepts_ajaxcart>
            </updates>
        </layout>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Zozoconcepts_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
		<events>
           <core_block_abstract_prepare_layout_before>
               <observers>
                   <zozoconcepts_ajaxcart_prepare_layout_before>
                       <class>ajaxcart/observer</class>
                       <method>prepareLayoutBefore</method>
                   </zozoconcepts_ajaxcart_prepare_layout_before>
               </observers>
           </core_block_abstract_prepare_layout_before>
		</events>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
								<children>
									<config>
										<children>
											<ajaxcart translate="title" module="ajaxcart">
												<title>Zozoconcepts Ajax Cart</title>
											</ajaxcart>
										</children>
									</config>
								</children>
							</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
		<ajaxcart>
			<general>
				<loader_image>loading.gif</loader_image>
			</general>
			<addtocart>
                <autoclose>5</autoclose>
				<enablecategory>1</enablecategory>
				<enableproduct>1</enableproduct>
			</addtocart>
			<addtolinks>
				<enablecategory>0</enablecategory>
				<enableproduct>0</enableproduct>
			</addtolinks>
		</ajaxcart>
	 </default>	
    <global>
        <models>
            <ajaxcart>
                <class>Zozoconcepts_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>Zozoconcepts_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <ajaxcart>
                        <table>ajaxcart</table>
                    </ajaxcart>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Zozoconcepts_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Zozoconcepts_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Zozoconcepts_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
</config>