<?xml version="1.0"?>
<config>
    <modules>
        <Cminds_ProductInventoryUpdater>
            <version>1.0.7</version>
        </Cminds_ProductInventoryUpdater>
    </modules>
    <global>
        <blocks>
            <productinventoryupdater>
                <class>Cminds_ProductInventoryUpdater_Block</class>
            </productinventoryupdater>
        </blocks>
        <helpers>
            <productinventoryupdater>
                <class>Cminds_ProductInventoryUpdater_Helper</class>
            </productinventoryupdater>
        </helpers>
        <models>
            <productinventoryupdater>
                <class>Cminds_ProductInventoryUpdater_Model</class>
            </productinventoryupdater>
            <productinventoryupdater_mysql4>
                <class>Cminds_ProductInventoryUpdater_Model_Mysql4</class>
            </productinventoryupdater_mysql4>
        </models>
        <resources>
            <cminds_productinventoryupdater>
                <setup>
                    <module>Cminds_ProductInventoryUpdater</module>
                    <class>Cminds_ProductInventoryUpdater_Model_Mysql4_Setup</class>
                </setup>
            </cminds_productinventoryupdater>
        </resources>
        <inventory_updater>
            <stock>
                <class>productinventoryupdater/updater_stock</class>
            </stock>
            <cost>
                <class>productinventoryupdater/updater_cost</class>
            </cost>
        </inventory_updater>
        <events>
            <cminds_product_updater_collection_load_before>
                <observers>
                    <cminds_product_updater_collection_load_before_filter>
                        <type>singleton</type>
                        <class>productinventoryupdater/observer</class>
                        <method>collectionLoadBefore</method>
                    </cminds_product_updater_collection_load_before_filter>
                </observers>
            </cminds_product_updater_collection_load_before>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <cminds_productinventoryupdater_nav_load>
                        <type>singleton</type>
                        <class>productinventoryupdater/observer</class>
                        <method>navLoad</method>
                    </cminds_productinventoryupdater_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
        <template>
            <email>
                <cost_updated_notification module="productinventoryupdater">
                    <label>Cost Updated Notification</label>
                    <file>cminds/inventoryupdater/cost_changed_notification.html</file>
                    <type>html</type>
                </cost_updated_notification>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_productinventoryupdater>
                    <files>
                        <default>Cminds_ProductInventoryUpdater.csv</default>
                    </files>
                </cminds_productinventoryupdater>
            </modules>
        </translate>
        <routers>
            <cminds_marketplace>
                <args>
                    <modules>
                        <cminds_productinventoryupdater before="Cminds_Marketplace">Cminds_ProductInventoryUpdater</cminds_productinventoryupdater>
                    </modules>
                </args>
            </cminds_marketplace>
        </routers>
        <layout>
            <updates>
                <productinventoryupdater>
                    <file>cminds_productinventoryupdater.xml</file>
                </productinventoryupdater>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <vendor_update_inventory_feed_scheduler>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>productinventoryupdater/cron::run</model>
                </run>
            </vendor_update_inventory_feed_scheduler>
        </jobs>
    </crontab>
</config>