<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Zozothemes_Megamenu::megamenu" title="Mega Menu" module="Zozothemes_Megamenu" sortOrder="505" parent="Zozothemes_Hybrid::zozothemes" resource="Zozothemes_Core::all"/>
        <add id="Zozothemes_Megamenu::configration" title="Configuration" module="Zozothemes_Megamenu" sortOrder="10" parent="Zozothemes_Megamenu::megamenu" action="adminhtml/system_config/edit/section/zozo_megamenu" resource="Zozothemes_Filterproducts::megamenu"/>
    </menu>
</config>