<?xml version="1.0"?>
<config>
  <modules>
    <Mss_Mdashboard>
      <version>0.1.1</version>
    </Mss_Mdashboard>
  </modules> 
  <frontend>
        <routers>
            <mdashboard>
                <use>standard</use>
                <args>
                    <module>Mss_Mdashboard</module>
                    <frontName>mdashboard</frontName>
                </args>
            </mdashboard>
        </routers>
  </frontend>
 
  <global>
    <helpers>
      <mdashboard>
        <class>Mss_Mdashboard_Helper</class>
      </mdashboard>

    </helpers>
    <blocks>
      <mdashboard>
        <class>Mss_Mdashboard_Block</class>
      </mdashboard>
    </blocks>
	<models>
	  <mdashboard>
		  <class>Mss_Mdashboard_Model</class>
		  <resourceModel>mdashboard_mysql4</resourceModel>
	  </mdashboard>
	  <mdashboard_mysql4>
		  <class>Mss_Mdashboard_Model_Mysql4</class>
  		<entities>		  
  			  <mdashboard>
  				  <table>magentomobile_mdashboard</table>
  			  </mdashboard>
      </entities>
	  </mdashboard_mysql4>
	</models>
	<resources>
	  <mdashboard_setup>
		<setup>
		  <module>Mss_Mdashboard</module>
		</setup>
  		<connection>
  		  <use>core_setup</use>
  		</connection>
	  </mdashboard_setup>
	  <mdashboard_write>
  		<connection>
  		  <use>core_write</use>
  		</connection>
	  </mdashboard_write>
	  <mdashboard_read>
  		<connection>
  		  <use>core_read</use>
  		</connection>
	  </mdashboard_read>
	</resources>  
  </global>
  <admin>
    <routers>
      <mdashboard>
        <use>admin</use>
        <args>
          <module>Mss_Mdashboard</module>
          <frontName>admin_mdashboard</frontName>
        </args>
      </mdashboard>
    </routers>
  </admin>
    <adminhtml>
     <layout>
          <updates>
            <mdashboard>
              <file>mdashboard.xml</file>
            </mdashboard>
          </updates>
      </layout>
    </adminhtml>
</config> 
